.chat {
  &__container {
    max-width: 500px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__body {
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
  }
}
