.chat {
  &__container {
    max-width: 500px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__body {
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;

    &__message {
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      max-width: 70%;

      &__sender {
        background-color: #dff0d8;
        align-self: flex-end;
        margin-left: 30%;
      }

      &__receiver{
        background-color: #f5f5f5;
        align-self: flex-start;
        margin-right: 30%;
      }

      &__newby {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--img {
          width: 24px;
          margin-right: 8px;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;

    &__field {
      padding-left: 10px;

      border: 1px solid #ccc;
      border-radius: 5px;

      cursor: pointer;

      transition: border 0.5s ease-in;

      &:hover {
        border: 1px solid #000;
      }

      &--button {
        transition: background-color 0.5s ease-in;
        transition: border-color 0.5s ease-in;
    
        &:active {
          background-color: #ccc;
          border-color: #000;
        }
      }
    }
  }
}

.chat__body__message__eye-icon {
  cursor: pointer;
  margin-right: 10px;
  color: #007bff;
}
